@use "/src/Styles/Variables" as *;


$padding_header: 15px;

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	transition: $transition;
	gap: 20px;
	
	.head {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		transition: $transition;
		border-radius: $border-radius;
		background: rgb(var(--color__black7));
		
		.sell:first-child {
			margin-right: -10px;
			margin-left: 10px;
		}
	}
	
	.body {
		.row { display: flex }
	}
	
	.sell {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: flex-start;
	}
}