@use '/src/Styles/Variables' as *;

$border_color: var(--color__black1);

.wrapper {
  display: flex;
  flex-direction: column;

  .btn {
    border-bottom-left-radius: 0;
    justify-content: space-between;
  }

  .motherWrapper {
    transition: $transition;
    padding-top: 10px;
  }

  .isClose {
    max-height: 0;
    transform: scale(0);
    animation: dropDown forwards 1s;
  }

  .isOpen {
    max-height: 100vh;
    transform: scale(1);
    animation: dropUp forwards 0.7s 0.5s;
  }

  .motherPadding {
    padding-left: 15px;
  }

  .arrow {
    svg {
      width: 12px;
      height: 12px;
    }
  }

  .panelOn {
    transform: rotateZ(90deg);
  }


  @keyframes dropDown {
    0% {
      border-left: 1px solid rgba(var(--color__blue3), 1);
    }
    15% {
      border-left: 1px solid rgba(var(--color__blue3), 0);
    }
  }

  @keyframes dropUp {
    0% {
      border-left: 1px solid rgba(var(--color__blue3), 0);
    }

    100% {
      border-left: 1px solid rgba(var(--color__blue3), 1);
    }
  }

}

