@use "/src/Styles/Variables" as *;


.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	
	.head {
	}
	
	.body {
		display: flex;
		
		.unitPanel {
			gap: 2px;
			
			svg {
				width: 40px;
				height: 40px;
			}
		}
		
		.category {
			display: flex;
			flex-direction: column;
			width: 200px;
			margin-right: $padding_modal_window;
			padding-right: $padding_modal_window;
			transition: $transition;
			border-right: 1px solid rgb(var(--color__black7));
			gap: 10px;
		}
		
		.content { width: 300px }
	}
}

