@use '/src/Styles/Variables' as *;

$panel_width: 265px;
$panel_padding_vert: 15px;

.wrapper {
    background: $color__black2;
    height: calc(100vh - #{$panel_padding_vert} * 2);
    padding: $panel_padding_vert 0;
    position: relative;
    transition: ease-in-out 0.5s;
    width: $panel_width;

    .line {
        border: 1px solid $color__grey1;
        margin: 15px 0;
    }

    .element {
        padding: 0 24px;
    }

    .elementHalfPadding {
        padding: 0 10px;
    }
}


.show_ {
    &on {
        left: 0;
    }

    &off {
        left: - $panel_width;
        margin-right: - $panel_width;
    }
}





