@use "/src/Styles/Variables" as *;

.wrapper {
	transition: $transition;
}

.color_ {
	&red {
		background: rgb(var(--color__red1));
	}
	
	&blue {
		background: rgb(var(--color__blue1));
	}
	
	&skyBlue {
		background: rgb(var(--color__skyblue1));
	}
	
	&grey {
		background: rgb(var(--color__black7));
	}
	
	&black {
		background: rgb(var(--color__black1));
	}
}

.radius {
	border-radius: $border-radius;
}
