@use "/src/Styles/Variables" as *;


$size_circle: 15px;
$padding_row: 4px;
$switch_width: 45px;

.wrapper {
	position: relative;
	width: $switch_width;
	height: $size_circle;
	padding: $padding_row 0;
	
	transition: $transition;
	border-radius: $size_circle;
	
	&::after {
		position: absolute;
		
		width: $size_circle;
		height: $size_circle;
		
		content: "";
		transition: $transition;
		border-radius: 50%;
		background: rgb(var(--color__black8));
	}
}


.switchOn {
	background: rgb(var(--color__green1));
	
	&::after {
		left: $switch_width - $padding_row - $size_circle;
		content: "";
	}
}


.switchOff {
	background: rgb(var(--color__black5));
	
	&::after {
		left: $padding_row;
		content: "";
	}
}

