@use "/src/Styles/Variables" as *;
@use "/src/Styles/Mixins" as *;

.wrapper {
  @include mixin--Center;
  padding: 8px 19px;
  border-radius: $border-radius_btn;
  border: none;
  background: none;
  cursor: pointer;
  gap: 5px;
  transition: $transition;

  span {
    transition: $transition;

    svg {
      transition: $transition;
      fill: rgb(var(--color__black1))
    }
  }

  .content {
    width: 100%;
  }

  &:disabled {
    opacity: 0.4;
    cursor: auto;
  }

  .text {
    flex: 1
  }
}


.color_ {
  &red {
    background: rgb(var(--color__red1));
  }

  &blue {
    background: rgb(var(--color__blue1));
  }

  &skyBlue {
    background: rgb(var(--color__skyblue1));
  }

  &grey {
    background: rgb(var(--color__black7));
  }

  &black {
    background: rgb(var(--color__black1));

    span {
      color: rgb(var(--color__black10));
    }
  }
}

.textAlign_ {
  &center {
    text-align: center;
  }

  &left {
    text-align: left;
  }

  &right {
    text-align: right;
  }
}

.noPadding {
  padding: 0;
  gap: 0;
}