@use "/src/Styles/Variables" as *;
@use "/src/Styles/Mixins" as *;

.wrapper {
	@include mixin--Center;
	padding: 8px 19px;
	cursor: pointer;
	transition: $transition;
	border: none;
	border-radius: $border-radius_btn;
	background: none;
	gap: 5px;

	.icon {
		@include mixin--Center;
	}

	span {
		transition: $transition;
	}

	.content {
		width: 100%;

		.child {
			width: 100%;
		}
	}

	&:disabled {
		cursor: auto;
		opacity: 0.4;
	}

	.text {
		flex: 1;
	}
}

.btnHover:hover {
	background: rgba(var(--color__black6), 0.4);
}

.textAlign_ {
	&center {
		text-align: center;
	}

	&left {
		text-align: left;
	}

	&right {
		text-align: right;
	}
}

.noPadding {
	padding: 0;
	gap: 0;
}
