@use "/src/Styles/Variables" as *;
@use "/src/Styles/Mixins" as *;

.wrapper {
	svg {
		user-select: none;
		transition: $transition;
		fill: rgb(var(--color__black1));
	}
}

.pointer {
	cursor: pointer;
}
