@use "/src/Styles/Variables" as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.title {
		text-align: center;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.amount {
			flex: 1;
			text-align: center;
		}

		.inputRow {
			display: flex;
			align-items: center;
			width: 100%;
			gap: 10px;

			.currencyGroup {
				display: flex;
				flex-direction: column;
				padding: 5px;
				background: rgb(var(--color__black7));
				gap: 10px;

				.currency {
					width: 100%;
					text-align: left;
				}
			}

			.addBtn {
				width: 100%;
			}

			.delete {
			}
		}
	}

	.btnGroup {
		display: flex;
		justify-content: space-between;
		gap: 10px;

		.btn {
			width: 100%;
		}
	}
}
