@use "/src/Styles/Variables" as *;
@use "/src/Styles/Mixins" as *;

.wrapper {
	@include mixin--Center;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	border-radius: $border-radius;
	gap: 10px;
	
	.text {
		overflow: hidden;
		height: 40px;
		text-align: center;
		@include mixin--Center;
	}
}
