@use '/src/Styles/Variables' as *;
@use '/src/Styles/Mixins' as *;

.wrapper {
  transition: $transition;

  .preloader {
    display: inline-block;
    width: 80px;
    height: 80px;
    transition: $transition;

    &:after {
      transition: $transition;
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid rgb(var(--color__black1));
      border-color: rgb(var(--color__black1)) transparent rgb(var(--color__black1)) transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .fullScreenBack {
    position: absolute;
    background: rgb(var(--color__black1));
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  @include mixin--Center;
}

.PreloaderVisibleOff {
  visibility: hidden;
  opacity: 0;
}
