@use "/src/Styles/Variables" as *;

$panel_width: 265px;
$panel_padding_vert: 15px;

.wrapper {
	position: relative;
	top: 0;
	bottom: 0;
	width: $panel_width;
	min-width: $panel_width;
	padding: $panel_padding_vert 0;
	transition: $transition;
	background: rgb(var(--color__asaid));
	
	.line {
		margin: 15px 0;
	}
	
	.element {
		padding: 0 24px;
	}
	
	.elementHalfPadding {
		padding: 0 10px;
	}
}

.show_ {
	&on {
		left: 0;
	}
	
	&off {
		left: -$panel_width;
		margin-right: -$panel_width;
	}
}
