$color__red1: #F64E60;

$color__green1: #50CD89;

$color__blue1: #3699FF;
$color__blue2: #C9F7F5;
$color__blue3: #2C2C41;

$color__grey1: #2D2D43;
$color__grey2: #7E8299;
$color__grey3: #EEF0F8;
$color__grey4: #B6B9C8;

$color__white1: #FFFFFF;

$color__black1: #000000;
$color__black2: #1E1E2D;

$border-radius: 6px;
$border-radius_btn: 6px
