$color__red1: #F64E60;

$color__green1: #50CD89;

$color__blue1: #3699FF;
$color__blue2: #C9F7F5;

$color__grey1: #2D2D43;
$color__grey2: #7E8299;

$color__white1: #FFFFFF;

$color__black1: #000000;
$color__black2: #1E1E2D;



