@use '/src/Styles/Variables' as *;


.wrapper {
  width: 100%;
  border-collapse: collapse;
  transition: $transition;

  .head {
    transition: $transition;
    background: rgb(var(--color__black7));
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .sell:first-child {
      margin-left: 10px;
      margin-right: -10px;
    }
  }

  .body {
    .row {
      display: flex;
    }
  }

  .sell {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
}