@use "../../../Styles/Variables" as *;
@use "../../../Styles/Mixins" as *;

.wrapper {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: $transition;
	background: rgba(var(--color__black10), 0.6);
	@include mixin--Center;
	
	.content {
		width: 500px;
		padding: $padding_modal_window;
		transition: $transition;
		border: 2px ridge rgb(var(--color__black5));
		border-radius: $border-radius * 2;
		background: rgb(var(--color__black10));
	}
}

.windowOpen {
	visibility: visible;
	opacity: 1;
}

.windowClose {
	visibility: hidden;
	opacity: 0;
	
	.content {
		transform: scale(0.3);
	}
}
