.wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
	
	.inputWrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		
		.input {
			display: flex;
			flex-direction: column;
			gap: 2px;
			
			.aboveInput {
				display: flex;
				justify-content: space-between;
			}
		}
	}
	
	.btn {
		display: flex;
		justify-content: center;
	}
}