@use '/src/Styles/Variables' as *;
@use '/src/Styles/Mixins' as *;


.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(var(--color__black10), 0.5);
  transition: $transition;
  @include mixin--Center;

  .content {
    background: rgb(var(--color__black10));
    padding: 20px 25px;
    border-radius: $border-radius * 2;
    border: 2px ridge rgb(var(--color__black2));
  }
}

.windowOpen {
  opacity: 1;
  visibility: visible;
}

.windowClose {
  opacity: 0;
  visibility: hidden;
}