@use "/src/Styles/Mixins" as *;


.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	
	.element {
		@include mixin--Center;
		flex: 1;
		flex-direction: column;
		
		.logo {
			@include mixin--Center;
			flex-direction: column;
			
			svg {
				width: 80px;
				height: 80px;
			}
		}
		
		.main {
			@include mixin--Center;
			flex-direction: column;
			gap: 25px;
			
			.title {
				@include mixin--Center;
				flex-direction: column;
				gap: 5px;
			}
		}
		
		.footer {
			display: flex;
			align-items: flex-end;
			height: 100%;
			padding-bottom: 20px;
		}
	}
}