@use '/src/Styles/Variables' as *;


.wrapper {
  transition: $transition;
}

//=========== СТИЛЬ ТЕКСТА ===========\\

.style_ {

  &standard {
    font-weight: 400;
    font-size: 16px;
  }

  &light_extraSmall {
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
  }

  &fat_extraSmall {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }

  &light_small {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  &normal_small {
    font-size: 14px;
    font-weight: 500;
  }

  &fat_small {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  &fat_big {
    font-size: 18px;
    font-weight: 700;
  }

  &fat_extraBig {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.02em;
  }

}

//=========== ЦВЕТ ТЕКСТА ===========\\

.color_ {

  &standard {
    color: rgb(var(--color__black1))
  }

  &red {
    color: rgb(var(--color__red2));
  }

  &white {
    color: rgb(var(--color__black10));
  }

  &grey {
    color: rgb(var(--color__black2));
  }

  &green {
    color: rgb(var(--color__green2));
  }

  &blue {
    color: rgb(var(--color__blue2));
  }

  &skyblue {
    color: rgb(var(--color__skyblue2));
  }

}
