@use '/src/Styles/Variables' as *;
@use '/src/Styles/Mixins' as *;


.title, .subtitle, .status {
  width: 100%;
  transition: $transition;
}

.wrapper {
  display: flex;
  gap: 14px;
  position: relative;
}


.infoWrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.btn {
  @include mixin--Center;

  svg {
    width: 25px;
    height: 25px;
  }
}

.title {
  color: var(--color__black1);
  font-size: 16px;
}

.subtitle {
  color: var(--color__black2);
  font-size: 10px;
}

.status {
  color: var(--color__lightGreen2);
  font-size: 10px;
}
