@use "/src/Styles/Variables" as *;
@use "/src/Styles/Mixins" as *;

$input_indent: 10px;

.wrapper {
	display: flex;
	align-items: center;
	padding: $input_indent * 1.3 $input_indent;
	transition: $transition;
	border-radius: 6px;
	gap: $input_indent;
	
	svg {
		width: 23px;
		height: 23px;
		transition: $transition;
		fill: rgb(var(--color__black1));
	}
	
	.input {
		width: calc(100% - #{$input_indent});
		transition: $transition;
		border: none;
		outline: none;
		background: none;
		caret-color: rgb(var(--color__black1));
	}
}
