@use "/src/Styles/Variables" as *;
@use "/src/Styles/Mixins" as *;

$input_indent: 10px;

.wrapper {
	display: flex;
	align-items: center;
	padding: $input_indent * 1.3 $input_indent;
	transition: $transition;
	border-radius: 6px;
	gap: $input_indent;
	
	svg {
		width: 23px;
		height: 23px;
		transition: $transition;
		fill: rgb(var(--color__black1));
	}
	
	.input {
		font-size: 16px;
		width: calc(100% - #{$input_indent});
		transition: $transition;
		color: rgb(var(--color__black1));
		border: none;
		outline: none;
		background: none;
		caret-color: rgb(var(--color__black1));
	}
}

.color_ {
	&red {
		background: rgb(var(--color__red1));
	}
	
	&blue {
		background: rgb(var(--color__blue1));
	}
	
	&skyBlue {
		background: rgb(var(--color__skyblue1));
	}
	
	&grey {
		background: rgb(var(--color__black7));
	}
	
	&black {
		background: rgb(var(--color__black1));
		
		span {
			color: rgb(var(--color__black10));
		}
	}
}
