@use '/src/Styles/Variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: overlay;
  height: calc(100vh - 260px);

  .btn {
    text-align: left;

    button {
      span {
        text-align: left;
      }
    }
  }
}