@use '/src/Styles/Variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .head {
  }

  .body {
    display: flex;

    .unitPanel {
      gap: 2px;

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .category {
      width: 200px;
      border-right: 1px solid rgb(var(--color__black7));
      display: flex;
      flex-direction: column;
      padding-right: $padding_modal_window;
      margin-right: $padding_modal_window;
      gap: 10px;
    }

    .content {
      width: 400px;
    }
  }
}

