@use "/src/Styles/Variables" as *;

.wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	transition: $transition;
	background: rgb(var(--color__black7));
	
	.content {
		overflow: auto;
		width: 100%;
		padding: 20px 40px;
	}
}
