@use '/src/Styles/Variables' as *;
@use '/src/Styles/Mixins' as *;


.topText, .middleText, .bottomText {
  width: 100%;
  transition: $transition;
}

.wrapper {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}


.infoWrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.btn {
  @include mixin--Center;

  svg {
    width: 25px;
    height: 25px;
  }
}

