@use '/src/Styles/Variables' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;

    .dropBtn {
        button {
            color: $color__white1;
            padding-left: 14px;
        }
    }
}